body {
  min-height: 100vh;
  width: 100vw;
}

.content {
  min-height: 50vh;
  width: 100%;
}

.jumbotron {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.content > div {
  height: 100%;
}

/* education */
#uoft-logo {
  max-height: 100%;
} 
